<h4 class="font-medium mb-3">Basic Card</h4>
<!-- Row -->
<div class="row">
  <!-- column -->
  <div *ngFor="let post of Posts" class="col-lg-3 col-md-6">
    <!-- Card -->
    <!-- ---------------------
                      start Card title
                  ---------------- -->
    <div  class="card">
      <img
        class="card-img-top img-responsive"
        src="{{post.link}}" style="height: 150px;"
        alt="Card image cap"
      />
      <div class="card-body">
        <h4 class="card-title">{{post.title}}</h4>
        <p class="card-text">
          {{post.body}}
        </p>
        <a href="javascript:void(0)" class="btn btn-primary">Read More</a>
      </div>
    </div>
    <!-- ---------------------
                      end Card title
                  ---------------- -->
    <!-- Card -->
  </div>
  <!-- column -->
  
  </div>

<!-- Row -->



